<div class="row stilo-formulario">
  <div class="form-grup">
    <form class="form-grup row">
      <div class="stylle-input col-md-2">
        <input id="txt-pesquisa"  class="form-control " type="text" placeholder="Pesquisa">
      </div>
      <div class="form-group stylle-input col-md-2 ">
        <select id="txt-operador" class="form-control">
          <option id="opt-todos"  selected>TODOS</option>
          <option id="opt-menor" >MENOR</option>
          <option id="opt-maior" >MAIOR</option>
          <option id="opt-igual" >IGUAL</option>
        </select>
      </div>
      <div class="stylle-input col-md-2">
        <input id="txt-valor" class="form-control " type="number" placeholder="0">
      </div>
      <div class="form-group col-md-2">
        <select  id="inputState" class="form-control">
          <option id="opt-selecione"  selected>SELECIONE</option>
          <option id="opt-superavit" >SUPERAVIT</option>
          <option id="opt-defit" >DEFIT</option>
        </select>
      </div>
      <div class="form-group stylle-input col-md-2">
        <select id="inputState" class="form-control ">
          <option selected>SELECIONE</option>
          <option id="filial-1" >MUITO MAIS (MÃE BELA)</option>
          <option id="filial-2" >MUITO MAIS (CENTRO)</option>
        </select>
      </div>
        <button class="btn  style-button col-md-2" type="submit">BUSCAR</button>
    </form>
  </div>
</div>
