<div class="row stilo-formulario">
  <div class="form-grup">
    <form class="form-grup row">
      <div class="stylle-input col-md-2">
        <input class="form-control " type="text" placeholder="Pesquisa">
      </div>
      <div class="form-group stylle-input col-md-2 ">
        <select id="inputState" class="form-control">
          <option selected>TODOS</option>
          <option>MENOR</option>
          <option>MAIOR</option>
          <option>IGUAL</option>
        </select>
      </div>
      <div class="stylle-input col-md-2">
        <input class="form-control " type="number" placeholder="0">
      </div>
      <div class="form-group col-md-2">
        <select id="inputState" class="form-control">
          <option selected>SELECIONE</option>
          <option>SUPERAVIT</option>
          <option>DEFIT</option>
        </select>
      </div>
      <div class="form-group stylle-input col-md-2">
        <select id="inputState" class="form-control ">
          <option selected>SELECIONE</option>
          <option>MUITO MAIS (MÃE BELA)</option>
          <option>MUITO MAIS (CENTRO)</option>
        </select>
      </div>
        <button class="btn  style-button col-md-2" type="submit">BUSCAR</button>
    </form>
  </div>
</div>
