.stilo-formulario {
  display: flex;
  padding: 5px;
  justify-content: center;
  margin-top: 25px;
}

.stilo-formulario .style-button {
  background-color: #3f51b5;
  color: #ffff;
  min-width: 200px;
}

.stilo-formulario .container-button{
  display: flex;
  justify-content: center;
}
