.stilo-formulario {
  display: flex;
  padding: 5px;
  margin-top: 12px;
  justify-content: center;
}

.stilo-formulario .form-grup{
  justify-content: center;
}

.stilo-formulario .stylle-input {
  max-width: 300px;
}

.stilo-formulario .style-button {
  background-color: #3f51b5;
  color: #ffff;
  max-width: 200px;
}
