<div class="container-totalizador row">
  <div class="container-estoque-real col-md-3 ">
    <label style="font-weight: bold" >Estoque Real</label>
    <div><a>Qtd Cadastros: </a> <a>{{QTD_DE_CADASTROS}}</a></div>
    <div><a>Custo </a> <a>(R${{CUSTO}})</a> <a> Venda </a><a >(R${{VENDA}})</a></div>
    <div><a>(Venda - Custo) </a><a>R$ {{CUSTO_VENDA}}</a></div>
  </div>
  <div class="container-estoque-fiscal col-md-3 ">
    <label style="font-weight: bold">Estoque Fiscal</label>
    <div><a>Custo: </a><a>R$ {{TOTAL_EM_ESTOQUE_REAL}} </a></div>
  </div>
</div>
