<div class="row" >
  <div class="container-totalizador" >
    <div class="card-totalizador col-md-3" >
      <label>Estoque Real</label>
      <div class="card-valor"> <span>R$:</span> {{200000}}</div>
      <button type="button" class="style-button  btn btn-primary">ZERAR ESTOQUE NEGATIVO</button>
    </div>
    <div class="card-totalizador col-md-3" >
      <label>Estoque Fiscal</label>
      <div class="card-valor" > <span>R$:</span> {{20000}}</div>
      <button type="button" class="style-button  btn btn-primary">EXECUTAR MANUTENÇÃO</button>
    </div>
  </div>
</div>
