<div class="row">
  <div class="style-tabela ">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">SKU</th>
          <th scope="col">DESCRIÇÃO</th>
          <th scope="col">EAN</th>
          <th scope="col">P.C</th>
          <th scope="col">P.V</th>
          <th scope="col">E.R</th>
          <th scope="col">E.F</th>
          <th scope="col">U.M</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row">
          <th id="sku"></th>
          <td id="descricao"></td>
          <td id="ean"></td>
          <td id="precoCusto"></td>
          <td id="precoVenda"></td>
          <td id="estoqueReal"></td>
          <td id="estoqueFiscal"></td>
          <td id="unidadeMedida"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
