<div class="style-tabela">
  <table class="table table-striped table-sm">
    <thead class="style-cabecalho" >
    <tr>
      <th scope="col">SKU</th>
      <th scope="col">DESCRIÇÃO</th>
      <th scope="col">EAN</th>
      <th scope="col">P.C</th>
      <th scope="col">P.V</th>
      <th scope="col">E.R</th>
      <th scope="col">E.F</th>
      <th scope="col">U.M</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="row" *ngFor="let item of dados">
      <th>{{item.sku}}</th>
      <td>{{item.descricao}}</td>
      <td>{{item.ean}}</td>
      <td>{{item.pc}}</td>
      <td>{{item.pv}}</td>
      <td>{{item.er}}</td>
      <td>{{item.ef}}</td>
      <td>{{item.ums}}</td>
    </tr>
    </tbody>
  </table>
</div>



