<div class="row">
  <div class="style-tabela">
    <table class="table table-sm ">
      <thead>
        <tr>
          <th scope="col">SKU</th>
          <th scope="col">DESCRIÇÃO</th>
          <th scope="col">EAN</th>
          <th scope="col">P.C</th>
          <th scope="col">P.V</th>
          <th scope="col">E.R</th>
          <th scope="col">E.F</th>
          <th scope="col">U.M</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let item of dados">
          <th id="sku">{{item.sku}}</th>
          <td id="descricao">{{item.descricao}}</td>
          <td id="ean">{{item.ean}}</td>
          <td id="precoCusto">{{item.pc}}</td>
          <td id="precoVenda">{{item.pv}}</td>
          <td id="estoqueReal">{{item.er}}</td>
          <td id="estoqueFiscal">{{item.ef}}</td>
          <td id="unidadeMedida">{{item.ums}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
